.home {
    background-image: url("/images/ground.jpg");
} 
#h {
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}
.us {
    margin-left: 39%;
    padding: 80px;
}
.click {
    margin-left: 49%;  
}
.about {
    text-align: center;
    margin-top: 20px;
}
.services {
    background-image: url("/images/lap.jpg");
    margin-left: 6.5%;
    margin-right: 6.5%;
    color: whitesmoke;
    position: relative;
}
#h3 {
    text-align: center;
    color: whitesmoke;
    padding-top: 100px;
}
.serve {
    text-align: center;
    padding-bottom: 20px;
}
.what {
    text-align: center;
}
#col {
    margin-left: 10%;
} 
#do {
    padding-top: 20px;
}
.row {
    padding-top: 20px;
}
#pro {
    margin-right: 10%;
}
