.home {
    background-image: url("../images/ground.jpg");
    background-size: cover;
} 
#h {
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
}
.us {
    margin-left: 39%;
    padding: 80px;
}
.click {
    margin-left: 49%;  
}
.about {
    text-align: center;
    margin-top: 20px;
}
.services {
    background-image: url("../images/lap.jpg");
    margin-left: 6.5%;
    margin-right: 6.5%;
    color: whitesmoke;
    position: relative;
}
#h3 {
    text-align: center;
    color: whitesmoke;
    padding-top: 100px;
}
.serve {
    text-align: center;
    padding-bottom: 20px;
}
.what {
    text-align: center;
}
#col {
    margin-left: 10%;
} 
#do {
    padding-top: 20px;
}
#pro {
    margin-right: 10%;
}
#lio {
    text-align: center;
}
#me {
    padding-right: 20px;
}
.cont {
    background-image: url("../images/back.jpg");
    margin-top: 30px;
    margin-left: 6.5%;
    margin-right: 6.5%;
}
form {
    text-align: center;
}
textarea {
    height: 150px;
    opacity: 0.5;
    border: 1px solid white;
    margin-top: 20pxpx;
    width: 60%;
}
input{
    border: 1px solid white;
}
.social {
    margin-left: 25%;
    padding-top: 20px;
}
h4 {
    text-align: center;
    padding-top: 10px;
}
.me {
    display: none;
}
.wes {
    display: none;
}
.overlay-1 {
    display: none;
}
#dark, #ont, #mid, #car, #gud, #sach, #bun, #gif{
 display: none;
 position: absolute;
 background: rgba(21, 23, 45, 0.5);
 transition: 0.5s;
 color: white;
 border: 1px solid white;
 margin-left: 15px;
 margin-top: 15px;
 text-align: center;
 cursor: progress;
 padding: 40px;
}
.raw{
  margin-left: 10%;
  margin-right: 10%;
}
.card img{
    width: 200px;
}
.card{
    width: 200px;
}
